<link rel="stylesheet" href="~/css/profile.css">
<div class="container">
    <div class="cover-photo"></div>
    <img src="~/img/twitteregg.jpg" alt="Profil Fotoğrafı" class="profile-photo">
    <div class="bio">
        <h3>Name <span class="text-muted">username</span></h3>
        <p>description</p>
        <p><strong>Location</strong> İstanbul, Türkiye</p>
        <p><strong>Born </strong> @DateTime.Now</p>
        <p><strong>Joined</strong> Ocak 2020</p>
        <p><strong>Web:</strong> <a href="https://example.com">example.com</a></p>
    </div>
    <div class="mt-3">
        <strong>100 Followers</strong>
        <strong>50 Following</strong>
        <strong>30 Tweet</strong>
    </div>
    <div class="mt-4">
        <h4>Tweets</h4>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Tweet</h5>
                <p class="card-text">Tweet Content</p>
                <a href="#" class="btn btn-outline-primary btn-sm">Like</a>
                <a href="#" class="btn btn-outline-primary btn-sm">Retweet</a>
                <a href="#" class="btn btn-outline-primary btn-sm">Reply</a>
            </div>
        </div>
    </div>
</div>