.cover-photo {
    height: 200px;
    background: url('~/img/twitteregg.jpg') no-repeat center center;
    background-size: cover;
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    position: relative; 
    top: -35px; 
    left: 0px; 
    z-index: 1; 
}
.bio {
    margin-top: 1px; 
    
}
.bio h3 {
    margin: 0; 
}
.bio p {
    margin: 5px 0; 
}

.tweet-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;
}

.tweet-actions a {
    text-decoration: none;
    color: #6c757d; 
    font-size: 18px;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.tweet-actions a:hover {
    color: #1d9bf0; 
    background-color: rgba(29, 155, 240, 0.2); 
    box-shadow: 0 0 10px rgba(29, 155, 240, 0.3);
}

.tweet-actions .retweet:hover {
    color: #17bf63; 
    background-color: rgba(23, 191, 99, 0.2); 
    box-shadow: 0 0 10px rgba(23, 191, 99, 0.3);
}

.tweet-actions .like:hover {
    color: #e0245e; 
    background-color: rgba(224, 36, 94, 0.2); 
    box-shadow: 0 0 10px rgba(224, 36, 94, 0.3);
}

.tweet-actions i {
    padding: 0;
}
.history-back-div-profile{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(1px); 
}
.profile-followers-link{
    text-decoration: none;
    color: inherit;
}
.profile-followers-link:hover{
    color: inherit;
}

.profile-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 400px;
    background-color: #fff;
}
.follower-username-link{
    text-decoration: none;
    color: inherit;
}
.custom-container-followers {
    padding-top: 5%; 
    padding-bottom: 0; 
    margin-top: 0;
    max-width: 50%;   
}
.card-body-followers{
    padding: 15px;
}
.card-body-followers-history-back{
    padding: 0px;
    padding-top: 15px;
}
