body {
    background-color: #ffffff;
}

#sidebar, #trends{
    position: sticky;
    top: 0;
}

#sidebar .list-group-item > i,
#sidebar .list-group-item > img{
    width: 25px;
    max-width: 25px;
    min-width: 25px;
}

#sidebar .list-group-item > img{
    margin-right: 10px;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.twitter-logo {
    width: 50px;
    margin-bottom: 20px;
}
.twitter-logo-menu {
    width: 50px;
    margin-left: -12px;
}
.form-control {
    margin-bottom: 15px;
}
.btn-primary {
    background-color: #1da1f2;
    border-color: #1da1f2;
}
.text-center a {
    color: #1da1f2;
    text-decoration: none;
}
.text-center a:hover {
    text-decoration: underline;
}
.custom-tweet-btn {
    border-radius: 20px; 
    padding: 6px 18px; 
    font-size: 16px; 
    font-weight: bold;
}
.avatar {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid white; 
    margin-right: 10px; 
}
.user-info {
    display: flex;
    flex-direction: column;
}

.cover-photo {
    height: 200px;
    background: url('~/img/twitteregg.jpg') no-repeat center center;
    background-size: cover;
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 20px;
    border: 3px solid white;
}
.bio {
    margin-top: 100px;
}
.custom-container {
    padding-top: 0; 
    padding-bottom: 0; 
    margin-top: 0;
    max-width: 75%;   
}
.tweet-card {
    margin-bottom: 0;
}

.trends {
    margin-left: 15px; 
    border-radius: 25px; 
}
.trends-card {
    border-radius: 20px;
    overflow: hidden;
}
.list-group-item {
    border: none; 
    user-select: none;
    cursor: pointer;
}
.list-group-item i {
    margin-right: 15px; 
    color: black; 
    font-size: 25px; 
}

.list-group a{
    text-decoration: none;
}

.list-group-item:hover {
    background-color: #f0f0f0; 
    border-radius: 25px; 
}
.card-header{
    background-color: #ffffff; 
    border: none; 
}
.btn-follow-unfollow-custom {
    border-radius: 25px;
    padding: 6px 21px; 
    font-size: 16px; 
    background-color: black;
    font-weight: bold;
    margin-right: 1em;
}
.tweet-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;
    align-items: center;
    
}

.tweet-actions i {
    padding: 0;
}

.tweet-actions a {
    text-decoration: none;
    color: #6c757d; 
    font-size: 18px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    width: 50px;
    box-sizing: border-box;
}

.tweet-actions div{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.tweet-actions div small{
    font-size: 14px;
}



.tweet-actions a:hover {
    color: #1d9bf0; 
    background-color: rgba(29, 155, 240, 0.2); 
    box-shadow: 0 0 7px rgba(29, 155, 240, 0.3);
}

.tweet-actions .retweet:hover {
    color: #17bf63; 
    background-color: rgba(23, 191, 99, 0.2); 
    box-shadow: 0 0 7px rgba(23, 191, 99, 0.3);
}

.tweet-actions .like:hover {
    color: #e0245e; 
    background-color: rgba(224, 36, 94, 0.2); 
    box-shadow: 0 0 7px rgba(224, 36, 94, 0.3);
}



.like {
    display: flex;
    align-items: center;
}
.retweet {
    display: flex;
    align-items: center;
}

.like-count {
    font-size: 13px; 
    color: #555; 
    line-height: 1; 
    min-width: 20px;
    text-align: center; 
    visibility: hidden;
    cursor: default; 
    position:absolute;
    margin-left: 2.2em;
    user-select: none;
}

.retweet-count {
    font-size: 13px; 
    color: #555; 
    line-height: 1; 
    min-width: 20px;
    text-align: center; 
    visibility: hidden;
    cursor: default; 
    position:absolute;
    margin-left: 2.2em;
    user-select: none;
}
.mention-count {
    font-size: 13px; 
    color: #555; 
    line-height: 1; 
    min-width: 20px;
    text-align: center; 
    visibility: hidden;
    cursor: default; 
    position:absolute;
    margin-left: 2.2em;
    user-select: none;
}

.like-count.visible {
    visibility: visible; 
}

.retweet-count.visible {
    visibility: visible; 
}

.mention-count.visible {
    visibility: visible; 
}

.gray-link {
    color: #6c757d;
    text-decoration: none; 
}

.gray-link:hover {
    color: #6c757d; 
}

.tweet-user-name-link {
    color: black;
}

.tweet-user-name-link:hover {
    color: black;
}

.tweet-username-link {
    color: inherit;
    text-decoration: none;
}

.tweet-username-link:hover {
    color: inherit; 
    text-decoration: none; 
}

.follows-you-box {
    background-color: #f0f0f0; 
    color: #6c757d; 
    padding: 0px 3px; 
    border-radius: 4px; 
    font-size: 0.70rem;
    font-weight: 500;
    display: inline-block; 
}
.profile-statistics{
    font-size: 14px;
}
.time-ago-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip {
    visibility: hidden;
    background-color: rgba(60, 60, 60, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 2px 3px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 11px;
}

.time-ago-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.back-post-arrow{
    color: black;
    margin-right: 25px;
}
.back-post-span{
    font-size: 20px;
}
.tweet-card-link {
    display: block;
    text-decoration: none; 
    color: inherit; 
}

.tweet-card-link:hover {
    background-color: rgba(0, 0, 0, 0.05); 
}

.tweet-details-link{
    text-decoration: none;
    color: inherit;
}
.tweet-details-link:hover{
    text-decoration: none;
    color: inherit;
}

.tweet-divider {
    border: none; 
    border-top: 1px solid #ccc; 
    margin: 1rem 0; 
}

.comment-input {
    border: none;
    padding: 10px; 
    width: 100%; 
    margin-right: 10px; 
    margin-top: 15px;
    resize: none;
    overflow: hidden;
    font-size: 20px;
}

.comment-input:focus{
    border:none;
    box-shadow: none;
}


.comment-input:focus{
    border:none;
    box-shadow: none;
}

.tweet-reply-wrapper{
    display: flex;
    flex-direction: row;
}

.tweet-reply-wrapper > img{
    margin-top: 20px;
}

.btn-reply {
    border-radius: 25px;
    padding: 5px 17px; 
    font-size: 16px; 
    font-weight: bold;
}
.history-back-div{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(1px);
    
}

