body {
    background-color: #f5f8fa;
}
.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.twitter-logo {
    width: 50px;
    margin-bottom: 20px;
}
.form-control {
    margin-bottom: 15px;
}
.btn-primary {
    background-color: #1da1f2;
    border-color: #1da1f2;
}
.text-center a {
    color: #1da1f2;
    text-decoration: none;
}
.text-center a:hover {
    text-decoration: underline;
}
.custom-tweet-btn {
    border-radius: 20px; 
}
.avatar {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid white; 
    margin-right: 10px; 
}
.cover-photo {
    height: 200px;
    background: url('~/img/twitteregg.jpg') no-repeat center center;
    background-size: cover;
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 20px;
    border: 3px solid white;
}
.bio {
    margin-top: 100px;
}
.custom-container {
    padding-top: 0; 
    padding-bottom: 0; 
    margin-top: 0;
}
.tweet-card {
    margin-bottom: 0;
}
.trends {
    margin-left: 15px; 
    border-radius: 25px; 
    overflow: hidden; 
}
.list-group-item {
    border: none; 
}

.list-group-item:hover {
    background-color: #f0f0f0; 
    border-radius: 25px; 
}
.card-header{
    background-color: #ffffff; 
    border: none; 
}