<div class="trends">  
    <div class="card">
        <div class="card-header">
            <strong>Trends for you</strong>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">#Trending1</li>
            <li class="list-group-item">#Trending2</li>
            <li class="list-group-item">#Trending3</li>
        </ul>
    </div>
</div>  