<form action="/Home/CreateTweet" method="post">
    <div class="card">
        <div class="card-body">
            <textarea class="form-control" name="Content" placeholder="What's happening?" rows="3" maxlength="280" oninput="updateCharCount(this)" ></textarea>
            <div class="mt-2 d-flex justify-content-end align-items-center">
                <small id="charCount" class="text-muted me-2">280 characters</small>
                <button class="btn btn-primary custom-tweet-btn">Tweet</button>
            </div>
        </div>
    </div>
</form>
<vc:tweets></vc:tweets>
            

