<ul class="list-group">
    <li class="list-group-item">Home</li>
    <li class="list-group-item">Explore</li>
    <li class="list-group-item">Notifications</li>
    <li class="list-group-item">Messages</li>
</ul>